In [1]:
library(tidyverse)
library(repr)
library(tidymodels)
options(repr.matrix.max.rows = 10)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.2 ──
✔ ggplot2 3.4.2     ✔ purrr   1.0.1
✔ tibble  3.2.1     ✔ dplyr   1.1.1
✔ tidyr   1.3.0     ✔ stringr 1.5.0
✔ readr   2.1.3     ✔ forcats 0.5.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
── Attaching packages ────────────────────────────────────── tidymodels 1.0.0 ──

✔ broom        1.0.2     ✔ rsample      1.1.1
✔ dials        1.1.0     ✔ tune         1.0.1
✔ infer        1.0.4     ✔ workflows    1.1.2
✔ modeldata    1.0.1     ✔ workflowsets 1.0.0
✔ parsnip      1.0.3     ✔ yardstick    1.1.0
✔ recipes      1.0.4

── Conflicts ───────────────────────────────────────── tidymodels_conflicts() ──
✖ scales::discard() masks purrr::discard()
✖ dplyr::filter()   masks stats::filter()
✖ recipes::fixed()  masks stringr::fixed()
✖ dplyr::lag()      masks stats::lag()
✖ yardstick::spec() masks readr::spec()
✖ recipes::step()   masks stats::step()
• Use tidymodels_prefer() to resolve common conflicts.

In [2]:
url <- "https://archive.ics.uci.edu/static/public/45/heart+disease.zip"
temp <- tempfile()
download.file(url, temp)
data.hungary <- read.csv(unz(temp, "processed.hungarian.data"))
unlink(temp)

In [3]:
formatted_hungary<-data.hungary |> 
    rename(age = X28, sex = X1, chest_pain = X2, resting_bp = X130, 
        cholesterol = X132, fasting_bgl = X0, resting_ekg = X2.1, max_hr = X185, angina = X0.1, 
        exercise_ST = X0.2, ST_slope = X., fluoroscopy_count = X..1, thal = X..2, vessel_narrow = X0.3) |>
    transform(resting_bp = as.integer(resting_bp), cholesterol = as.integer(cholesterol), 
    fasting_bgl = as.integer(fasting_bgl), resting_ekg = as.integer(resting_ekg), max_hr = as.integer(max_hr), angina = as.integer(angina), ST_slope = as.integer(ST_slope),
                         fluoroscopy_count = as.integer(fluoroscopy_count), thal = as.integer(thal), vessel_narrow = as.factor(vessel_narrow))
data.hungary

Warning message in eval(substitute(list(...)), `_data`, parent.frame()):
“NAs introduced by coercion”
Warning message in eval(substitute(list(...)), `_data`, parent.frame()):
“NAs introduced by coercion”
Warning message in eval(substitute(list(...)), `_data`, parent.frame()):
“NAs introduced by coercion”
Warning message in eval(substitute(list(...)), `_data`, parent.frame()):
“NAs introduced by coercion”
Warning message in eval(substitute(list(...)), `_data`, parent.frame()):
“NAs introduced by coercion”
Warning message in eval(substitute(list(...)), `_data`, parent.frame()):
“NAs introduced by coercion”
Warning message in eval(substitute(list(...)), `_data`, parent.frame()):
“NAs introduced by coercion”
Warning message in eval(substitute(list(...)), `_data`, parent.frame()):
“NAs introduced by coercion”
Warning message in eval(substitute(list(...)), `_data`, parent.frame()):
“NAs introduced by coercion”

    age sex chest_pain resting_bp cholesterol fasting_bgl resting_ekg max_hr
1   29  1   2          120        243         0           0           160
2   29  1   2          140         NA         0           0           170
3   30  0   1          170        237         0           1           170
4   31  0   2          100        219         0           1           150
5   32  0   2          105        198         0           0           165
⋮   ⋮   ⋮   ⋮          ⋮          ⋮           ⋮           ⋮           ⋮
289 52  1   4          160        331         0           0            94
290 54  0   3          130        294         0           1           100
291 56  1   4          155        342         1           0           150
292 58  0   2          180        393         0           0           110
293 65  1   4          130        275         0           1           115
    angina exercise_ST ST_slope fluoroscopy_count thal vessel_narrow
1   0      0           NA       NA                NA   0
2   0      0           NA       NA                NA   0
3   0      0           NA       NA                 6   0
4   0      0           NA       NA                NA   0
5   0      0           NA       NA                NA   0
⋮   ⋮      ⋮           ⋮        ⋮                 ⋮    ⋮
289 1      2.5         NA       NA                NA   1
290 1      0.0          2       NA                NA   1
291 1      3.0          2       NA                NA   1
292 1      1.0          2       NA                 7   1
293 1      1.0          2       NA                NA   1

    X28 X1 X2 X130 X132 X0 X2.1 X185 X0.1 X0.2 X. X..1 X..2 X0.3
1   29  1  2  120  243  0  0    160  0    0    ?  ?    ?    0
2   29  1  2  140  ?    0  0    170  0    0    ?  ?    ?    0
3   30  0  1  170  237  0  1    170  0    0    ?  ?    6    0
4   31  0  2  100  219  0  1    150  0    0    ?  ?    ?    0
5   32  0  2  105  198  0  0    165  0    0    ?  ?    ?    0
⋮   ⋮   ⋮  ⋮  ⋮    ⋮    ⋮  ⋮    ⋮    ⋮    ⋮    ⋮  ⋮    ⋮    ⋮
289 52  1  4  160  331  0  0    94   1    2.5  ?  ?    ?    1
290 54  0  3  130  294  0  1    100  1    0.0  2  ?    ?    1
291 56  1  4  155  342  1  0    150  1    3.0  2  ?    ?    1
292 58  0  2  180  393  0  0    110  1    1.0  2  ?    7    1
293 65  1  4  130  275  0  1    115  1    1.0  2  ?    ?    1

    X28 X1 X2 X130 X132 X0 X2.1 X185 X0.1 X0.2 X. X..1 X..2 X0.3
1   29  1  2  120  243  0  0    160  0    0    ?  ?    ?    0
2   29  1  2  140  ?    0  0    170  0    0    ?  ?    ?    0
3   30  0  1  170  237  0  1    170  0    0    ?  ?    6    0
4   31  0  2  100  219  0  1    150  0    0    ?  ?    ?    0
5   32  0  2  105  198  0  0    165  0    0    ?  ?    ?    0
⋮   ⋮   ⋮  ⋮  ⋮    ⋮    ⋮  ⋮    ⋮    ⋮    ⋮    ⋮  ⋮    ⋮    ⋮
289 52  1  4  160  331  0  0    94   1    2.5  ?  ?    ?    1
290 54  0  3  130  294  0  1    100  1    0.0  2  ?    ?    1
291 56  1  4  155  342  1  0    150  1    3.0  2  ?    ?    1
292 58  0  2  180  393  0  0    110  1    1.0  2  ?    7    1
293 65  1  4  130  275  0  1    115  1    1.0  2  ?    ?    1